<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<script type="text/javascript" src="vue.min.js"></script>
</head>
<body>


<script type="text/javascript">
//the beginning of Vue's study
//W

/*
* Vue.js *是一个构建数据驱动的web界面的库。技术上，它重点集中在MVVM模式的ViewModel层；
* Vue.js的目标是通过尽可能简单的API实现响应的数据绑定和组合的视图组件。
* Vue.js的核心是一个响应的数据绑定系统，它让数据与DOM保持同步非常简单。
* 通俗地讲，它意味着我们在普通HTML模板中使用特殊的语法将DOM"绑定"到底层数据。
*/

/*
* 每个Vue.js应用的起步都是通过构造函数Vue创建一个Vue的根实例
* var vm = new Vue();
* 一个Vue实例其实正是一个MVVM模式中所描述的ViewModel。
*/

/*
* 每个Vue实例都会代理其data对象里所有的属性
* 这些被代理的属性是响应的。如果在实例创建之后添加新的属性到实例上，它不会触发视图更新。
* Vue实例还有一些有用的实例属性与方法。这些属性与方法都有前缀$，以便与代理的数据属性区分。
*/
</script>

<!-- 插值 -->
<div class="test1">
	<p>msg: {{ t1Msg }}</p>
	<p>msg(cannot change): {{ * t1Msg }}</p>
</div>
<script type="text/javascript">
	/*
	* 数据绑定最基础的形式是文本插值，使用{{}}语法（双大括号）
	* {{msg}}标签会被相应数据对象的msg属性的值替换。每当这个属性变化时它也会更新。
	* 也可以只处理单次插值，今后的数据变化就不会在引起插值更新了。{{*msg}}
	*/

	//例
	var vm1 = new Vue({
		el: '.test1',
		data:{
			t1Msg: 'hahaha'
		}
	});
	setTimeout(function(){
		vm1.t1Msg = 'look, I am changed.'
	},2000);
</script>

<!-- 输出html字符串 -->
<div class="test2">
	<p>msg(html): {{ t2msg }}</p>
	<p>msg: {{{ t2msg }}}</p>
</div>
<script type="text/javascript">
	/*
	* 双大括号标签将数据解析成文本而不是html。为了输出真的html字符串（好有歧义，就是将html解析），需要用三个大括号
	*/
	var vm2 = new Vue({
		el: '.test2',
		data: {
			t2msg:'<span>Can you see my heart?</span>'
		}
	})

</script>

<!-- 双大括号标签也可以用在html特性（attributes）内 -->
<div class="test3" id="{{ t3id }}" name="{{ t3name }}">
	I am t3
</div>
<script type="text/javascript">
	
	var vm3 = new Vue({
		el:'.test3',
		data:{
			t3id: 'test3',
			t3name: 'waynetest3'
		}
	})
</script>

<!-- js表达式 -->
<div class="test4">
	<p>num * 2 + 1 = {{ num * 2 + 1 }}</p>
	<p>Are you OK? {{ ok ? 'YES I am a MI fan.' : 'NO I cannot understand.'}}</p>
	<p>word process: {{ t4msg.split('.').join('') }}</p>
</div>
<script type="text/javascript">
	/*
	* Vue 在数据绑定内支持全功能的JavaScript表达式
	*/
	var vm4 = new Vue({
		el: '.test4',
		data: {
			num: 12,
			ok: 'ok',
			t4msg: '3.12.123.32.12'
		}
	}) 
</script>

<!-- 过滤器 -->
<div class="test5">
	<p>filter1: {{ t5msg | uppercase }}</p>
	<p>filter2: {{ t5msg | lowercase }}</p>
	<p>filter3: {{ t5msg | capitalize }}</p>
</div>
<script type="text/javascript">
	/*
	* Vue允许在表达式后添加可选的“过滤器”，以管道符“|”表示。过滤器本质上是一个函数，这个函数会接收一个值，将其处理并返回。
	*/
	var vm5 = new Vue({
		el: '.test5',
		data:{
			t5msg: 'okokIAMOK'
		}
	})
</script>

<!-- 指令 -->
<div class="test6">
	<p v-if="t6Bool">you ok, i am ok.</p>
	<p v-if="!t6Bool">you are not ok, i am ok.</p>
</div>
<script type="text/javascript">
	/*
	* Vue 指令是特殊的带有前缀v-的特性。本质是 模板中出现的特殊标记，让处理模板的库知道需要对这里的DOM元素进行一些对应的处理。指令的职责就是当其表达式的值改变时把某些特殊的行为应用到DOM上。
	*/
	var vm6 = new Vue({
		el:'.test6',
		data:{
			t6Bool:'tt'
		}
	})
</script>

<!-- 计算属性 -->
<div class="test7">
	a = {{ a }}, b = {{ b }}
</div>
<script type="text/javascript">
	/*
	* 在模板中表达式非常便利，但是他们实际上只用于简单的操作。
	* 模板是为了描述视图的结构。在模版中放入太多逻辑会让模板过重且难以维护。
	* 如果需要多于一个表达式的逻辑，应当使用计算属性。
	*/
	var vm7 = new Vue({
		el:'.test7',
		data:{
			a:32
		},
		computed:{
			b: function(){
				return this.a + 3
			}
		}
	})
</script>

<!-- class对象 -->
<div class="test8" v-bind:class="{ 'class-a': isA, 'class-b': isB }">
	test8
</div>
<div class="test9" v-bind:class="[classA, classB]">
	test9
</div>
<script type="text/javascript">
	/*
	* 可以传给v-bind:class一个对象，以动态地切换class。注意c-bind:class可以与普通的class特性共存。
	*/
	var vm8 = new Vue({
		el:'.test8',
		data:{
			isA: true,
			isB: false,
		}
	});

	var vm9 = new Vue({
		el:'.test9',
		data:{
			classA: 'arrA',
			classB: 'arrB'
		}
	})
</script>

<!-- style对象 -->
<div class="test10" v-bind:style="{color: tcolor, fontSize: tsize, fontWeight: tweight}">
	test10
</div>
<div class="test11" v-bind:style="[styleA, styleB]">
	test11
</div>
<script type="text/javascript">
	/*
	* v-bind:style的对象语法十分直观，css属性名可以用驼峰式或者短横分隔命名(短横分隔貌似行不通)
	*/
	var vm10 = new Vue({
		el:'.test10',
		data:{
			tcolor:'#f00',
			tsize: '20px',
			tweight:'bold'
		}
	});
	var vm11 = new Vue({
		el: '.test11',
		data:{
			styleA:{
				fontSize:'30px'
			},
			styleB:{
				color:'#00f'
			}
		}
	})
</script>

<!-- v-if -->
<div class="test12">
	<h1 v-if="ok">I am ok</h1>
	<h2 v-else>I am not ok</h2>
</div>
<div class="test13">
	<template v-if="ok > -1">
		<h1>I am a num large than -1</h1>
		<p>I am soo happy</p>
	</template>
	<template v-else>
		<h1>I am a num smaller than -1</h1>
		<p>I am soo sad</p>
	</template>
</div>
<div class="test14" v-show="ok">
	test14
</div>
<script type="text/javascript">
	//v-else 元素必须立即跟在v-if 或者v-show 元素的后面，否则它不能被识别
	var vm12 = new Vue({
		el:'.test12',
		data:{
			ok:0
		}
	});
	var vm13 = new Vue({
		el:'.test13',
		data:{
			ok:0
		}
	});
	var vm14 = new Vue({
		el:'.test14',
		data:{
			ok:1
		}
	})
</script>

<!-- v-for -->
<div class="test15">
	<ul>
		<li v-for="item in items">
			{{item.msg}}
		</li>
	</ul>
</div>
<div class="test16">
	<ul>
		<li v-for="item in items">
			{{$index}}: {{item.msg}}
		</li>
	</ul>
</div>
<div class="test17">
	<template v-for="item in items">
		<p>helloooooo  {{$index}}</p>
		<h4>{{item.msg}}</h4>
	</template>
</div>
<script type="text/javascript">
	/*
	* 可以使用v-for 指令基于一个数组渲染一个列表。这个指令使用特殊的语法，形式为item in items，items是数据数组，item是当期啊数组元素的别名
	*/
	var vm15 = new Vue({
		el:'.test15',
		data:{
			items:[
				{msg:"one"},
				{msg:"two"},
				{msg:"three"},
				{msg:"four"}
			]
		}
	});
	//在v-for块内我们能完全访问父组建作用域内的属性，另有一个特殊变量$index,它是当前数组元素的索引。
	var vm16 = new Vue({
		el:'.test16',
		data:{
			items:[
				{msg:"one"},
				{msg:"two"},
				{msg:"three"},
				{msg:"four"}
			]
		}
	});
	var vm17 = new Vue({
		el:'.test17',
		data:{
			items:[
				{msg:"lllone"},
				{msg:"llltwo"},
				{msg:"lllthree"},
				{msg:"lllfour"},
				{msg:"lllfive"}
			]
		}
	})
</script>

<!-- text -->
<div class="test18">
	<input type="text" name="t18" placeholder="ohaha" v-model="t18msg">
	<p>you said:{{t18msg}}</p>
</div>
<script type="text/javascript">
	/*
	*可以在表单的input元素上使用v-model指令来创建双向数据绑定。它会根据input元素的类型自动选取正确的绑定模式。
	*/
	var vm18 = new Vue({
		el:'.test18',
		data:{
			t18msg:'hello kugou'
		}
	})
</script>

<!-- checkbox复选 -->
<div class="test19">
	<input type="checkbox" name="theone" id="theone" value="one" v-model="t19check">
	<label for="theone">one</label>
	<input type="checkbox" name="thetwo" id="thetwo" value="two" v-model="t19check">
	<label for="thetwo">two</label>
	<input type="checkbox" name="thethree" id="thethree" value="three" v-model="t19check">
	<label for="thethree">three</label>
	<input type="checkbox" name="thefour" id="thefour" value="four" v-model="t19check">
	<label for="thefour">four</label>
	<input type="checkbox" name="thefive" id="thefive" value="five" v-model="t19check">
	<label for="thefive">five</label>
	<span>you selected: {{ t19check }}</span>
</div>
<script type="text/javascript">
	var vm19 = new Vue({
		el:'.test19',
		data:{
			t19check:[]
		}
	})
</script>

<!-- checkbox单选 -->
<div class="test20">
	<p>test20</p>
	<input type="checkbox" v-model="t20check" name="t20" id="t20" v-bind:true-value="T" v-bind:false-value="F">
	<span>are you ok?{{t20check}}</span>
</div>
<script type="text/javascript">
	var vm20 = new Vue({
		el:".test20",
		data:{
			T: 'I am ok',
			F: 'I am not ok'
		}
	})
</script>

<!-- radio -->
<div class="test21">
	<p>test21</p>
	<input type="radio" name="the21one" value="one" v-model="t21pick">
	<label for="the21one">one</label>
	<input type="radio" name="the21two" value="two" v-model="t21pick">
	<label for="the21two">two</label>
	<p>you selected:{{ t21pick }}</p>
</div>
<script type="text/javascript">
	var vm21 = new Vue({
		el:'.test21',
		data:{
			t21pick:[]
		}
	})
</script>

<!-- select单选 -->
<div class="test22">
	<select v-model="t22select">
		<option v-for="option in options" v-bind:value="option.value">
			{{ option.text }}
		</option>
	</select>
	<p>you selected:{{t22select}}</p>
</div>
<script type="text/javascript">
	var vm22 = new Vue({
		el:'.test22',
		data:{
			t22select: 'A',
		    options: [
		      { text: 'One', value: 'A' },
		      { text: 'Two', value: 'B' },
		      { text: 'Three', value: 'C' }
		    ]
		}
	})
</script>

<!-- select多选 -->
<div class="test23">
	<p>test23</p>
	<select v-model="t23select" multiple>
		<option v-for="option in options" v-bind:value="option.value">
			{{option.text}}
		</option>
	</select>
	<p>you selected:{{t23select}}</p>
</div>
<script type="text/javascript">
	//对象的格式应为{text:'',value:''}。这允许你把展示的文字和其背后对应的值区分开来。
	vm23 = new Vue({
		el:'.test23',
		data:{
			t23select:'A',
			options:[
				{ text : 'One', value : 'A'},
				{ text : 'Two', value : 'B'},
				{ text : 'Three', value : 'C'},
				{ text : 'Four', value : 'D'},
				{ text : 'Five', value : 'E'},
				{ text : 'Six', value : 'F'},
				{ text : 'Seven', value : 'G'}
			]
		}
	})
</script>

<!-- lazy -->
<div class="test24">
	<input type="text" name="t24in" v-model="t24msg" lazy>
	<input name="t24in2" v-model="t24msg2" number>
	<input name="t24in3" v-model="t24msg3" debounce="2000">
	<p>first input:{{ t24msg }}</p>
	<p>second input:{{ t24msg2 }}</p>
	<p>third input:{{ t24msg3 }}</p>
</div>
<script type="text/javascript">
	/*
	* 在默认情况下，v-model在input事件中同步输入框值与数据，可以添加一个特性lazy，从而改到在change事件中同步
	*/
	//如果想自动将用户的输入保持为数字，可以添加一个特性number
	//debounce设置一个最小的延时，在每次敲击之后延时同步输入框的值域数据。（如果每次更新都要进行高耗操作，例如Ajax请求，则比较有用。）
	var vm24 = new Vue({
		el:'.test24',
		data:{
			t24msg : 'one',
			t24msg2 : 'two',
			t24msg3 : 'three'
		}
	})
</script>

<!-- 自定义指令 -->
<div class="test25">
	<p v-my-directive="someV"></p>
</div>
<script type="text/javascript">
	/*
	* Vue允许自定义指令
	* 实质上是让你教Vue一些新技巧：怎样将数据的变化映射到DOM 行为。
	* 可以使用Vue.directive(id, definition)的方法传入指令id 和定义对象来注册一个全局自定义指令。
	* 定义对象需要提供一些钩子函数（可选）：
	* bind：仅调用一次，当指令第一次绑定元素的时候
	* update：第一次是紧跟在bind之后调用，获得的参数是绑定的初始值；以后每当绑定的值发生变化就会被调用，获得新值与旧值两个参数。
	* unbind：仅调用一次，当指令解绑元素的时候。
	*/
	Vue.directive('my-directive', {
		bind:function(){
			console.log('aaa my-directive');
		},
		update:function(value){
			this.el.innerHTML = 'value - ' + value;
		}
	});
	var vm25 = new Vue({
		el : '.test25',
		data:{
			someV: 'Are you ok?'
		}
	});
</script>

<!-- 指令属性 -->
<div class="test26" v-my-directive2:heiheihei.aaa.bbb="t26msg"></div>
<script type="text/javascript">
	/*
	* 指令实例属性
	el: 指令绑定的元素
	vm: 拥有该指令的上下文ViewModel
	expression: 指令的表达式，不包括参数和过滤器
	arg: 指令的参数
	name: 指令的名字，不包括前缀
	modifiers: 一个对象，包含指令的修饰符
	descriptor: 一个对象，包含指令的解析结果
	*/
	Vue.directive('my-directive2',{
		bind: function(){
			console.log('ooo my-directive2');
		},
		update:function (value) {
			this.el.innerHTML = 
				'name-' + this.name + '<br>' + 
				'expression-' + this.expression + '<br>' + 
				'argument-' + this.arg + '<br>' + 
				'modifiers-' + JSON.stringify(this.modifiers) + '<br>' + 
				'value-' + this.value + '<br>'
		}
	});
	var vm26 = new Vue({
		el:'.test26',
		data:{
			t26msg:'ooo'
		}
	})
</script>

<!-- 对象字变量 -->
<div class="test27" v-my-directive3="{ left: 'apple', right: 'pen'}">
</div>
<script type="text/javascript">
	Vue.directive('my-directive3',function (value) {
		this.el.innerHTML = value.left + ' ' + value.right;
	});
	var vm27 = new Vue({
		el:'.test27',
		data:{

		}
	})
</script>

<!-- 字面修饰符 -->
<div class="test28" v-my-directive3.literal="pen pineapple aplle pen"></div>
<script type="text/javascript">
	/*
	* 当指令使用了字面修饰符literal ，它的值将按普通字符串处理并传递给update方法。update方法将只调用一次，因为普通字符串不能响应数据变化。
	*/
	Vue.directive('my-directive3',function (value) {
		this.el.innerHTML = value;
	});
	var vm28 = new Vue({
		el:'.test28',
		data:{

		}
	})
</script>

<!-- 元素指令 -->
<div class="test29">
	<my-directive4></my-directive4>
</div>
<script type="text/javascript">
	/*
	* 有时候，我们可能想要我们的指令可以以自定义元素的形式被使用，而不是作为一个特性。元素指令可以看做是一个轻量的自定义组件。
	*/
	Vue.elementDirective('my-directive4',{
		bind: function () {
			this.el.innerHTML = 'my-directive4'
		}
	});
	var vm29 = new Vue({
		el:'.test29',
		data:{

		}
	})
</script>

<!-- 自定义过滤器 -->
<div class="test30">
	{{t30msg | myfilter1}}
</div>
<script type="text/javascript">
	/*
	* 可以用全局方法Vue.filter() 注册一个自定义过滤器
	* 它接收两个参数：过滤器ID和过滤器函数。
	* 过滤器函数以值为参数，返回转换后的值
	*/
	Vue.filter('myfilter1', function (value) {
		return value.split(',').join('');
	});
	var vm30 = new Vue({
		el: '.test30',
		data: {
			t30msg: 'hello,hi,how,what,nani'
		}
	})
</script>

<!-- 过滤器函数可以接受任意数量的参数 -->
<div class="test31">
	{{t31msg | myfilter2 'I am begin' 'I am end'}}
</div>
<script type="text/javascript">
	Vue.filter('myfilter2', function (value, begin, end) {
		return begin + value + end;
	});
	var vm31 = new Vue({
		el: '.test31',
		data:{
			t31msg:'ttttttt'
		}
	})
</script>

<!-- 双向过滤器 -->
<div class="test32">
	<input type="text" v-model="t32input | myfilter4" name="">
	<p>you need pay: {{t32input}}</p>
</div>
<script type="text/javascript">
	/*
	* 我们使用过滤器都是把来自模型的值显视在视图之前转换它。
	* 不过也可以定义一个过滤器，在把来自视图（input元素）的值写回模型之前转化它
	*/
	Vue.filter('myfilter4', {
		read: function (val) {
			return '￥' + val.toFixed(2);
		},
		write: function (val, oldVal) {
			var num = +val.replace(/[^\d.]/g, '')
			return isNaN(num) ? 0 : parseFloat(num.toFixed(2));
		}
	});
	var vm32 = new Vue({
		el:'.test32',
		data:{
			t32input: 0
		}
	})
</script>

<!-- 动态参数 -->
<div class="test33">
	<input type="text" v-model="t33input" value="2" name="">
	<p>{{t33msg | myfilter5 t33input}}</p>
</div>
<script type="text/javascript">
	/*
	* 如果一个过滤器参数没有被引号包裹，它会在当前vm的数据作用域里当做表达式进行动态求值。
	* 此外，过滤器函数的this上下文永远是调用它的当前vm
	*/
	Vue.filter('myfilter5', function(value, input){
		return value + input
	});
	var vm33 = new Vue({
		el: '.test33',
		data:{
			t33msg: '3232...'
		}
	})
</script>

<!-- 方法处理器 -->
<div class="test34">
	<button v-on:click="greet">let's greet</button>
</div>
<script type="text/javascript">
	//可以用v-on 指令监听DOM事件
	var vm34 = new Vue({
		el: '.test34',
		data:{
			name:'Are you OK?'
		},
		methods: {
			greet: function (event) {
				alert(this.name + ' ' + event.target.tagName);
			}
		}
	})
</script>

<!-- 内联语句处理器 -->
<div class="test35">
	<button v-on:click="say('hello')">say hello</button>
	<button v-on:click="say('hi')">say hi</button>

	<button v-on:click="strongsay('hello', $event)">strongsay hello</button>

	<a v-on:click.stop="dododo"></a>
	<a v-on:submit.prevent="dododo"></a>
	<a v-on:click.stop.prevent="dododo"></a>
	<a v-on:submit.prevent="dododo"></a>
</div>
<script type="text/javascript">
	//有时也需要在内联语句处理器中访问原生DOM事件，可以用特殊变量$event把它传入方法
	var vm35 = new Vue({
		el:'.test35',
		methods: {
			say: function (val) {
				alert(val);
			},
			strongsay: function (val, event) {
				event.preventDefault();
			}
		}
	});
	//在事件处理器中经常需要调用event.preventDefault()或event.stopPropagation()。尽管我们在方法内可以轻松做到，不过让方法是纯粹的数据逻辑而不处理DOM事件细节会更好。
	//为了解决这个问题，Vue为v-on提供两个事件休市符：.prevent 与.stop
</script>

<!-- 按键修饰符 -->
<div class="test36">
	<!-- 只有在keyCode是13时调用vm.submit() -->
	<input v-on:keyup.13="submit" name="">
	<!-- 同上 -->
	<input v-on:keyup.enter="submit" name="">
</div>
<script type="text/javascript">
	//在监听键盘事件时，我们经常需要检测keyCode。Vue允许为v-on添加按键修饰符
	//常用按键别名：enter、tab、delete、esc、space、up、down、left、right
</script>

<!-- 过渡 -->
<style type="text/css">
	.expand-transition{
		transition: all .9s ease;
		height: 30px;
		padding: 10px;
		background-color: #333;
		overflow: hidden;
	}
	.expand-enter, .expand-leave{
		height: 0;
		padding: 0 10px;
		opacity: 0;
	}
</style>
<div class="test37">
	<p v-if="show" transition="expand">test37</p>
	<button v-on:click="show=!show">toggle</button>
</div>
<script type="text/javascript">
	/*
	* 通过Vue的过渡系统，你可以轻松得为DOM节点被插入/移除的过程添加过渡动画效果
	* Vue将会在适当的时机添加/移除CSS类名来触发CSS3过渡/动画效果，你也可以提供相应的JavaScript钩子函数在过渡过程中执行自定义的DOM操作，
	* 所有的Vue过渡效果只有在该DOM操作是通过Vue触发时才会生效。
	*/
	Vue.transition('expand', {
		beforeEnter: function (el) {
			el.textContent = 'beforeEnter';
		},
		enter: function (el) {
			el.textContent = 'enter';
		},
		afterEnter: function (el) {
			el.textContent = 'afterEnter';
		},
		enterCancelled: function (el) {
			en.textContent = 'enterCancelled';
		},
		beforeLeave: function (el) {
			el.textContent = 'beforeLeave';
		},
		leave: function (el) {
			el.textContent = 'leave';
		},
		afterLeave: function (el) {
			el.textContent = 'afterLeave';
		},
		leaveCancelled: function (el) {
			el.textContent = 'leaveCancelled';
		}

	})
	var vm37 = new Vue({
		el: '.test37',
		data: {
			show: true
		}
	});
	/*
	类名的添加和切换取决于transition特性的值。
	比如transition="fade"，会有三个CSS类名：
	（1）.fade-transition始终保留在元素上。
	（2）.fade-enter定义进入过渡的开始状态。只应用一帧然后立即删除。
	（3）.fade-leave定义离开过渡的结束状态。在离开过渡开始时生效，在它结束后删除。
	如果transition 特性没有值，类名默认是.v-transition，.v-enter和.v-leave。
	*/

	/*
	当show属性改变时，Vue将相应地插入或删除div元素，按照如下规则改变过渡的CSS类名：
	如果show变为false，Vue将：
	1.用beforeLeave钩子；
	2.添加v-leave类名到元素上以触发过渡；
	3.调用leave钩子；
	4.等待过渡结束（监听transitionend事件）；
	5.从DOM中删除元素并删除v-leave类名；
	6.用afterLeave钩子；

	如果show变为true，Vue将：
	1.调用beforeEnter钩子；
	2.添加v-enter类名到元素上；
	3.把它插入DOM；
	4.调用enter钩子；
	5.强制一次CSS布局，让v-enter确实生效。然后删除v-enter类名，以触发过渡，回到元素的原始状态；
	6.等待过渡结束；
	7.调用afterEnter钩子；
	*/
</script>

<!-- 渐近过渡 -->
<style type="text/css">
	ul {
	    padding-left: 0;
	    font-family: Helvetica, Arial, sans-serif;
	}
	.staggered-transition {
	    transition: all .5s ease;
	    overflow: hidden;
	    margin: 0;
	    height: 20px;
	}
	.staggered-enter, .staggered-leave {
	    opacity: 0;
	    height: 0;
	}
</style>
<div class="test38">
	<input v-model="query">
    <ul>
        <li v-for="item in list | filterBy query"
            transition="staggered"
            stagger="100">
          {{item.msg}}
         </li>
    </ul>
</div>
<script type="text/javascript">
	/*
	* transition 与v-for一起用时可以创建渐近过渡。
	* 给过渡元素添加一个特性stagger，enter-stagger或leave-stagger
	* 或者，提供一个钩子stagger，enter-stagger或leave-stagger，以更好的控制
		Vue.transition('stagger', {
			stagger: function (index) {
				return Math.min(300, index*50)
			}
		})
	*/
	var vm38 = new Vue({
		el: '.test38',
		data: {
	        query: '',
	        list: [
	            { msg: 'one' },
	            { msg: 'two' },
	            { msg: 'three' },
	            { msg: 'four' },
	            { msg: 'five' },
	            { msg: 'six' },
	            { msg: 'seven' }
	        ]
    	}
	})
</script>

<!-- 使用组件 -->
<div class="test39">
	<my-component></my-component>
</div>
<script type="text/javascript">
	/*
	* 在Vue中，可以用Vue.extend()创建一个组件构造器
	var MyComponent = Vue.extend({
		tempate: '....'   //选项
	})
	* 要把这个构造器用作组件，需要用Vue.component(tag, constructor)注册
	Vue.component('my-component', MyComponent)
	* 在注册之后，组件便可以用在父实例的模块中，以自定义元素<my-component>的形式使用。要确保在初始化根实例之前注册了组件
	*/

	var MyComponent = Vue.extend({
		template: '<div>A a a custom component'
	});
	Vue.component('my-component', MyComponent);
	var vm39 = new Vue({
		el:'.test39'
	})
</script>

<!-- props传递数据 -->
<div class="test40">
	<my-component2 msg="Are you?"></my-component2>
</div>
<script type="text/javascript">
	Vue.component('my-component2', {
		props: ['msg'],
		template:'<strong>{{msg}}</strong>'
	});
	var vm40 = new Vue({
		el:'.test40'
	})
</script>

<!-- 动态props -->
<div class="test41">
	<input v-model="t41input" name="">
	<my-component3 v-bind:t41msg="t41input"></my-component3>
</div>
<script type="text/javascript">
	/*
	* HTML特性不区分大小写。名字形式为camelCase的prop用作特性时，需要转为kebab-case（短横线隔开）
	*/
	Vue.component('my-component3', {
		props: ['t41msg'],
		template: '<strong>{{t41msg}}</strong>'
	});
	var vm41 = new Vue({
		el:'.test41'
	})
</script>

<!-- prop绑定类型 -->
<div class="test42">
	<input v-model="t42input" name="">
	<my-component4 v-bind:t42msg="t42input"></my-component4>
	<my-component4 v-bind:t42msg.sync="t42input"></my-component4>
	<my-component4 v-bind:t42msg.once="t42input"></my-component4>
</div>
<script type="text/javascript">
	/*
	* prop默认是单向绑定:
	* 当父组件的属性变化时，将传导给子组件，但是反过来不会。这是为了防止子组件无意修改了父组件的状态——这会让应用的数据流难以理解。
	* 不过，也可以使用.sync或.once绑定修饰符显式地强制双向或单次绑定。
	* 双向绑定会把子组件的my-message属性同步父组件的parentMsg属性。单次绑定在建立之后不会同步之后的变化。
	*/
	Vue.component('my-component4', {
		props: ['t42msg'],
		template: '<p>{{t42msg}}</p>'
	});
	var vm42 = new Vue({
		el: '.test42'
	})
</script>

<!-- 自定义事件 -->
<div class="test43">
	<template id="child-template">
	  <input v-model="msg">
	  <button v-on:click="notify">Dispatch Event</button>
	</template>
	<!-- 父组件模板 -->
	<div class="t43ev">
	  <p>Messages: {{ messages | json }}</p>
	  <child></child>
	</div>
</div>
<script type="text/javascript">
	/*
	* Vue实例实现了一个自定义事件接口，用于在组件树中通信。
	* 这个事件系统独立于原生DOM事件，做法也不同。每个Vue实例都是一个事件触发器
	* 使用$on() 监听事件；
	* 使用$emit() 在它上面触发事件；
	* 使用$dispath()派发事件，事件沿着父链冒泡；
	* 使用$broadcase()广播事件，事件向下传导给所有的后代。
	子组件可以用this.$parent访问它的父组件，而父组件有一个数组this.$children，包含它所有的子元素。
	*/
	Vue.component('child', {
	  template: '#child-template',
	  data: function () {
	    return { msg: 'hello' }
	  },
	  methods: {
	    notify: function () {
	      if (this.msg.trim()) {
	        this.$dispatch('child-msg', this.msg)
	        this.msg = ''
	      }
	    }
	  }
	})
	// 启动父组件
	// 将收到消息时将事件推入一个数组
	var parent = new Vue({
	  el: '.t43ev',
	  data: {
	    messages: []
	  },
	  // 在创建实例时 `events` 选项简单地调用 `$on`
	  events: {
	    'child-msg': function (msg) {
	      // 事件回调内的 `this` 自动绑定到注册它的实例上
	      this.messages.push(msg)
	    }
	  }
})
</script>
</body>
</html>